_dump/about.html
_dump/file.html
_dump/head.html
_dump/index.html
_dump/NavBar.html
_dump/NavBarLine.html
_dump/new.html
_dump/tmp
_site/feed.xml
_site/index.html
_site/assets/css/article-styles.css
_site/assets/css/blog-styles.css
_site/assets/css/style.css
_site/assets/font/English/AaarghNormal.woff
_site/assets/font/English/AaarghNormal.woff2
_site/assets/font/English/Abel-Regular.woff
_site/assets/font/English/Abel-Regular.woff2
_site/assets/font/English/Aquatico-Regular.woff
_site/assets/font/English/Aquatico-Regular.woff2
_site/assets/font/English/CaviarDreams.woff
_site/assets/font/English/CaviarDreams.woff2
_site/assets/font/English/Computerfont.woff
_site/assets/font/English/Computerfont.woff2
_site/assets/font/English/Cubic.woff
_site/assets/font/English/Cubic.woff2
_site/assets/font/English/DimitriSwank.woff
_site/assets/font/English/DimitriSwank.woff2
_site/assets/font/English/ElMessiri-Bold.woff
_site/assets/font/English/ElMessiri-Bold.woff2
_site/assets/font/English/ElMessiri-Medium.woff
_site/assets/font/English/ElMessiri-Medium.woff2
_site/assets/font/English/ElMessiri-Regular.woff
_site/assets/font/English/ElMessiri-Regular.woff2
_site/assets/font/English/ElMessiri-SemiBold.woff
_site/assets/font/English/ElMessiri-SemiBold.woff2
_site/assets/font/English/fonts.css
_site/assets/font/English/GoogleSans-Regular.woff
_site/assets/font/English/GoogleSans-Regular.woff2
_site/assets/font/English/GoogleSeptember2015.woff
_site/assets/font/English/GoogleSeptember2015.woff2
_site/assets/font/English/GreyscaleBasic.woff
_site/assets/font/English/GreyscaleBasic.woff2
_site/assets/font/English/JetBrainsMono-Bold.woff
_site/assets/font/English/JetBrainsMono-Bold.woff2
_site/assets/font/English/JetBrainsMono-BoldItalic.woff
_site/assets/font/English/JetBrainsMono-BoldItalic.woff2
_site/assets/font/English/JetBrainsMono-ExtraBold.woff
_site/assets/font/English/JetBrainsMono-ExtraBold.woff2
_site/assets/font/English/JetBrainsMono-ExtraBoldItalic.woff
_site/assets/font/English/JetBrainsMono-ExtraBoldItalic.woff2
_site/assets/font/English/JetBrainsMono-Italic.woff
_site/assets/font/English/JetBrainsMono-Italic.woff2
_site/assets/font/English/JetBrainsMono-Medium.woff
_site/assets/font/English/JetBrainsMono-Medium.woff2
_site/assets/font/English/JetBrainsMono-MediumItalic.woff
_site/assets/font/English/JetBrainsMono-MediumItalic.woff2
_site/assets/font/English/JetBrainsMono-Regular.woff
_site/assets/font/English/JetBrainsMono-Regular.woff2
_site/assets/font/English/JuliusSansOne-Regular.woff
_site/assets/font/English/JuliusSansOne-Regular.woff2
_site/assets/font/English/NasalizationRg-Regular.woff
_site/assets/font/English/NasalizationRg-Regular.woff2
_site/assets/font/English/Neuropol-Regular_1.woff
_site/assets/font/English/Neuropol-Regular_1.woff2
_site/assets/font/English/Neuropol-Regular.woff
_site/assets/font/English/Neuropol-Regular.woff2
_site/assets/font/English/NewCicle-Fina.woff
_site/assets/font/English/NewCicle-Fina.woff2
_site/assets/font/English/NewCicle-FinaItalic.woff
_site/assets/font/English/NewCicle-FinaItalic.woff2
_site/assets/font/English/NewCicle-Gordita.woff
_site/assets/font/English/NewCicle-Gordita.woff2
_site/assets/font/English/NewCicle-GorditaItalic.woff
_site/assets/font/English/NewCicle-GorditaItalic.woff2
_site/assets/font/English/NewCicle-Semi.woff
_site/assets/font/English/NewCicle-Semi.woff2
_site/assets/font/English/NewCicle-SemiItalic.woff
_site/assets/font/English/NewCicle-SemiItalic.woff2
_site/assets/font/English/Norwester-Regular.woff
_site/assets/font/English/Norwester-Regular.woff2
_site/assets/font/English/Orbit-Regular.woff
_site/assets/font/English/Orbit-Regular.woff2
_site/assets/font/English/Philosopher-Bold.woff
_site/assets/font/English/Philosopher-Bold.woff2
_site/assets/font/English/Philosopher-BoldItalic.woff
_site/assets/font/English/Philosopher-BoldItalic.woff2
_site/assets/font/English/Philosopher-Italic.woff
_site/assets/font/English/Philosopher-Italic.woff2
_site/assets/font/English/Philosopher.woff
_site/assets/font/English/Philosopher.woff2
_site/assets/font/English/Quicksand-Light.woff
_site/assets/font/English/Quicksand-Light.woff2
_site/assets/font/English/Sansumi-Bold.woff
_site/assets/font/English/Sansumi-Bold.woff2
_site/assets/font/English/Sansumi-ExtraBold.woff
_site/assets/font/English/Sansumi-ExtraBold.woff2
_site/assets/font/English/stylesheet.css
_site/assets/font/English/Syncopate-Bold.woff
_site/assets/font/English/Syncopate-Bold.woff2
_site/assets/font/English/Syncopate-Regular.woff
_site/assets/font/English/Syncopate-Regular.woff2
_site/assets/font/English/WalkwaySemiBold.woff
_site/assets/font/English/WalkwaySemiBold.woff2
_site/assets/font/Sinhala/AbhayaLibre-Bold.woff
_site/assets/font/Sinhala/AbhayaLibre-Bold.woff2
_site/assets/font/Sinhala/AbhayaLibre-ExtraBold.woff
_site/assets/font/Sinhala/AbhayaLibre-ExtraBold.woff2
_site/assets/font/Sinhala/AbhayaLibre-Medium.woff
_site/assets/font/Sinhala/AbhayaLibre-Medium.woff2
_site/assets/font/Sinhala/AbhayaLibre-Regular.woff
_site/assets/font/Sinhala/AbhayaLibre-Regular.woff2
_site/assets/font/Sinhala/AbhayaLibre-SemiBold.woff
_site/assets/font/Sinhala/AbhayaLibre-SemiBold.woff2
_site/assets/font/Sinhala/NotoSerifSinhala-Regular.woff
_site/assets/font/Sinhala/NotoSerifSinhala-Regular.woff2
_site/assets/font/Sinhala/stylesheet.css
_site/assets/font/Sinhala/UN-Abhaya.woff
_site/assets/font/Sinhala/UN-Abhaya.woff2
_site/assets/font/Sinhala/UN-AbhayaBold.woff
_site/assets/font/Sinhala/UN-AbhayaBold.woff2
_site/assets/font/Sinhala/UN-Alakamanda.woff
_site/assets/font/Sinhala/UN-Alakamanda.woff2
_site/assets/font/Sinhala/UN-Arundathee.woff
_site/assets/font/Sinhala/UN-Arundathee.woff2
_site/assets/font/Sinhala/UN-Basuru.woff
_site/assets/font/Sinhala/UN-Basuru.woff2
_site/assets/font/Sinhala/UN-Bindumathi.woff
_site/assets/font/Sinhala/UN-Bindumathi.woff2
_site/assets/font/Sinhala/UN-Davasa.woff
_site/assets/font/Sinhala/UN-Davasa.woff2
_site/assets/font/Sinhala/UN-Derana.woff
_site/assets/font/Sinhala/UN-Derana.woff2
_site/assets/font/Sinhala/UN-Dharanee.woff
_site/assets/font/Sinhala/UN-Dharanee.woff2
_site/assets/font/Sinhala/UN-Disapamok.woff
_site/assets/font/Sinhala/UN-Disapamok.woff2
_site/assets/font/Sinhala/UN-Ganganee.woff
_site/assets/font/Sinhala/UN-Ganganee.woff2
_site/assets/font/Sinhala/UN-Gemunu.woff
_site/assets/font/Sinhala/UN-Gemunu.woff2
_site/assets/font/Sinhala/UN-Gurulugomi.woff
_site/assets/font/Sinhala/UN-Gurulugomi.woff2
_site/assets/font/Sinhala/UN-Imanee.woff
_site/assets/font/Sinhala/UN-Imanee.woff2
_site/assets/font/Sinhala/UN-Indeevaree.woff
_site/assets/font/Sinhala/UN-Indeevaree.woff2
_site/assets/font/Sinhala/UN-Isiwara.woff
_site/assets/font/Sinhala/UN-Isiwara.woff2
_site/assets/font/Sinhala/UN-Malithi.woff
_site/assets/font/Sinhala/UN-Malithi.woff2
_site/assets/font/Sinhala/UN-Rajantha.woff
_site/assets/font/Sinhala/UN-Rajantha.woff2
_site/assets/font/Sinhala/UN-Rashmi.woff
_site/assets/font/Sinhala/UN-Rashmi.woff2
_site/assets/font/Sinhala/UN-Samantha.woff
_site/assets/font/Sinhala/UN-Samantha.woff2
_site/assets/font/Sinhala/UN-Sandhyanee.woff
_site/assets/font/Sinhala/UN-Sandhyanee.woff2
_site/assets/font/Sinhala/Yaldevi-Bold.woff
_site/assets/font/Sinhala/Yaldevi-Bold.woff2
_site/assets/font/Sinhala/Yaldevi-Light.woff
_site/assets/font/Sinhala/Yaldevi-Light.woff2
_site/assets/font/Sinhala/Yaldevi-Medium.woff
_site/assets/font/Sinhala/Yaldevi-Medium.woff2
_site/assets/js/article-script.js
_site/assets/js/autoID.js
_site/assets/js/blog-script.js
_site/assets/js/script.js
_site/assets/js/toc-generator.js
_site/posts/A-10-Warthog-vs.-F-35-Lightning-II-20250203_010000.html
_site/posts/autodesk-maya-2025-review-20240330_032800.html
_site/posts/autodesk-revit-2025-review-bim-software-20240330_220400.html
_site/posts/calculator-20230209_024400.html
_site/posts/enabling-latex-support-in-blogger-or-20241225_202400.html
_site/posts/enabling-latex-support-in-blogger-or-any-website-mathjax-20241226_000000.html
_site/posts/enabling-latex-support-using-katex-20241226_010900.html
_site/posts/First-Post-20250220_161601.html
_site/posts/how-are-microchips-made-20240330_014700.html
_site/posts/index.html
_site/posts/mechatronics-engineering-20240915_000000.html
_site/posts/mechatronics-engineering-20240916_000000.html
_site/posts/my-first-post-20250201_000000.html
_site/posts/second-post-20250109_121212.html
_site/posts/should-be-second-blog-20250214_063356.html
_site/posts/test-post-via-decap-cms-20250304_235800.html
_site/posts/topaz-photo-ai-review-20240331_230300.html
_site/posts/welcome-to-jekyll-20250106_202836.html
_site/search/index.html
Gemfile.lock
assets/css/dump/navbar.css
assets/css/dump/navbar2.css
assets/css/dump/navbar3.css
assets/js/dump/1.js
assets/js/dump/navbar.js
